<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{.PageTitle}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body style="padding-top: 75px;">
    <nav class="navbar navbar-default fixed-top" style="background-color:  #f6b92b;">
        <div class="container justify-content-center">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="static/img/flashlight_logo_white.svg" alt="Logo" style="width:200px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="container" style="max-width: 576px;">
        <div class="row">
            <div class="col-6">
                <a href="login">
                    <button type="button" class="btn" style="width: 100%">
                        Login
                    </button>
                </a>
            </div>
            <div class="col-6">
                <a href="registration">
                    <button type="button" class="btn" style="width: 100%">
                        Register
                    </button>
                </a>
            </div>
        </div>
        <div class="card" style="width: 100%; margin-top: 15px">
            <div class="card-body">
                <h5 class="card-title">Oliver Hinzmann</h5>
                <h6 class="card-subtitle mb-2 text-muted">23.07.2020 - 13:40 Uhr</h6>
            </div>
                <img src="static/img/images.jpg" class="card-img-top" alt="..." style="width: 100%; ">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Gefällt 3 Leuten</b>
                        <p><br>Beispieltext
                        </p>
                    </li>
                    <li class="list-group-item"><b>ph1337 </b>Ich bin kein Kommentar, ich putze hier nur</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>