<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Flashlight</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</head>
<body style="padding-top: 75px;">
    <nav class="navbar navbar-default fixed-top" style="background-color:  #f6b92b;">
        <div class="container justify-content-center">
            <div class="navbar-header">
                <a class="navbar-brand" href=".">
                    <img src="/static/img/flashlight_logo_white.svg" alt="Logo" style="width:200px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="container" style="max-width: 576px;">
        <div class="row">
            <div class="col-6">
                <a href="/login">
                    <button type="button" class="btn btn-warning" style="width: 100%">
                        Login
                    </button>
                </a>
            </div>
            <div class="col-6">
                <a href="/registration">
                    <button type="button" class="btn btn-warning" style="width: 100%">
                        Register
                    </button>
                </a>
            </div>
        </div>

        {{range .Flashlights}}
            <div class="card" style="width: 100%; margin-top: 15px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="card-title">{{.Author}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{.Timestamp}}</h6>
                        </div>
                    </div>
                </div>
                <img src="{{.FilePath}}" class="card-img-top" alt="..." style="width: 100%; ">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {{if gt .LikeAmount 1}}
                                <b>Gefällt {{.LikeAmount}} Leuten</b>
                            {{else if eq .LikeAmount 1}}
                                <b>Gefällt Jemandem</b>
                            {{else if eq .LikeAmount 0}}
                                <b>Gefällt Keinem</b>
                            {{end}}
                            <p><br>{{.Caption}}
                            </p>
                        </li>
                        {{range .Comments}}
                            <li class="list-group-item">
                                <b style="margin-right: 2%">{{.Author}}</b>{{.Text}}
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        {{end}}

    </div>

</body>
</html>