<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>login</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body style="padding-top: 75px;">
<nav class="navbar navbar-default fixed-top" style="background-color:  #f6b92b;">
    <div class="container justify-content-center">
        <div class="navbar-header">
            <a class="navbar-brand" href=".">
                <img src="static/img/flashlight_logo_white.svg" alt="Logo" style="width:200px;">
            </a>
        </div>
    </div>
</nav>
    <div class="container" style="max-width: 576px;">
        <div class="row">
            <div class="col"><h6 class="text-center">Bitte gebe deine Zugangsdaten ein</h6></div>
        </div>
        <form action="/authenticate-user" method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="username" class="form-control" placeholder="Benutzername" name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Passwort" name="password">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-9">
                    <a href="home">
                    <button type="submit" class="btn btn-warning" style="width: 100%">
                        Login
                    </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>