<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Flashlight</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body style="padding-top: 75px;">
<nav class="navbar navbar-default fixed-top" style="background-color:  #f6b92b;">
    <div class="container justify-content-center">
        <div class="navbar-header">
            <a class="navbar-brand" href="home">
                <img src="/static/img/flashlight_logo_white.svg" alt="Logo" style="width:200px;">
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="max-width: 576px;">
    <div class="row">
        {{range .Flashlights}}
            <div class="col-6">
                <div class="card" style="width: 100%; margin-top: 15px">
                    <div class="card-body">
                        <h6 class=" mb-2 text-center text-muted">{{.Timestamp}}</h6>
                    </div>
                    <img src="{{.FilePath}}" class="card-img-top" alt="..." style="width: 100%; ">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-heart" aria-hidden="true" style="color: #f6b92b"> </i>
                                        <b> {{.LikeAmount}}</b>
                                    </div>
                                    <div class="col-6">
                                        <i class="fa fa-comment" aria-hidden="true" style="color: #f6b92b"> </i><b> {{ len .Comments }}</b>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <form action="/delete-post" method="post" >
                                    <input type="text" class="form-control invisible" id="id" name="id" value="{{.ID}}" >
                                    <button type="submit" class="btn btn-warning" style="width: 100%; color:#f6b92b; border-color: #f6b92b; background-color: white">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Löschen
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
</body>
</html>       