<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body style="padding-top: 75px;">
    <nav class="navbar navbar-default fixed-top" style="background-color:  #f6b92b;">
        <div class="container justify-content-center">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <img src="/static/img/flashlight_logo_white.svg" alt="Logo" style="width:200px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="container" style="max-width: 576px;">
        <form action="/add-post" method="POST" enctype="multipart/form-data">
            <h3 style="color: #000000"><b>{{.Username}}</b></h3>
            <h6>Hier kannst du ein neues Bild hochladen</h6>
            <div class="form-group">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="datei">
                </div>
                <textarea class="form-control" rows="3" id="description" name="caption" placeholder="Beschreibung" style="border-color: #f6b92b"></textarea>
            </div>

            <button type="submit" class="btn btn-warning">
                Hochladen
            </button>
        </form>
    </div>
</body>
</html>